<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<script src="/javascripts/bootstrap.min.js"></script>

</head>



