@import url(grid.css);
@import url(menu-media.css);
@import url(menu.css);

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}
.header {
    background: #2980b9;
    height: 6rem;
}

.search {
    margin-top: 1.5rem;
}
.search input {
    border: 0.1rem solid #ecf0f1;
    padding: 0.5rem;
    font-size: 1.2rem;
    height: 3rem;
    float: left;
    width: calc(100%-3rem);
    
    
}
.search button {
    border: 0.1rem solid #ecf0f1;
    padding: 0.5rem;
    font-size: 1.2rem;
    height: 3rem;
    float: left;
    width: 3rem;
    
    
}

.slider-wrapper {
    margin: 2rem 0;
}
.slider {
    background: url(../img/background.jpg) center no-repeat;
    background-size: cover;
    height: 50rem;
    max-width: 100%;
    color: rgba(236, 240, 241,1.0);
    text-transform: uppercase;
    text-align: center;
    padding: 20rem 0;
    font-size: 5rem;
}

.block{
    height: 25rem;
}
.block p {
    color: #ecf0f1;
    font-weight: thin;
    text-transform: uppercase;
    font-size: 5rem;
    text-align: center;
    line-height: 25rem;
}
.yellow {
    background: #d35400;
    margin: 0 0 2rem 0;
    
}
.blue {
    background: #2980b9;
}

.text {
    color: rgba(142, 68, 173,1.0);
    background: rgba(189, 195, 199,1.0);
    font-weight: thin;
    text-align: left;
    margin: 2rem 0;
    padding: 0.7rem;
}




.map {
    background: rgba(189, 195, 199,1.0);
}

