* {
 box-sizing: border-box;   
}


.row:after{
display: block;
content: ".";
clear: both;
height: 0;
visibility: hidden;
}


body {
background: #cccccc;
color: #FFFFFF;
font-family: Arial, Verdana, sans-serif;
font-size: 85%;
}


.col-12 {
background: #97233f;
width: 100%;
float:left;
border: 1px solid #FFFFFF;
padding: 10 px;
text-align: center
}

.col-6 {
background: #66ff66;
float: left;
width: 50%;
height: 70%;
border: 1px solid #FFFFFF;
padding: 10px 50px 10px 50px;
text-align: center;
}

.col-8 {
background: #333342;
font-style: italic;
float: left;
width: 66.6666666667%;
height: 100%;
border: 5px solid #FFFFFF;
}

.offset-2 { margin-left: 16.6666666667% ; }
.offset-4 { margin-left: 33.3333333333% ; }


.footer {
clear: both;
border: 1px solid #FFFFFF;
color: #97233f;
background: #fa8f89;
padding: 10px;
}

.text {
position: relative;
padding: 10px;
float: left;
clear: both;
border: 1px solid #172;
}


.content {
padding: 10px;
margin: 10px;
display: inline-block;
text-align: center;
}


/*Home page style in css*/

h1 {
font-size: 200%; 
font-family: Arial, Verdana, sans-serif; 
color: #FFFFFF;
padding: 10px; 
}

h4 {
font-size: 150%;
font-family: Arial, Verdana, sans-serif; 
}


a {
    color: #000; /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
   }
a:visited {
    color: #97233f; /* Цвет посещённой ссылки */
   } 
a:hover {
    color: #FFFFFF; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: none; /* Не добавляем подчеркивание */
   }