.main-frame {
	width: 350px;
	margin: auto;
	padding: 0 0 0 0;
}
.logo-div{
	text-align: center;
}

.slogan{
	background-color: black;
	color: white;
	padding: 20 0 20 0;
	font-size: larger;
}

.slogan-red {
	background-color: black;
	color: white;
	padding: 20 0 20 0;
	font-size: larger;
}

.check-terms {
	background-color: black;
	color: white;
	padding: 10 10 10 10;
	font-size: large;
}

.inputdiv {
	background-color: black;
	margin: 10 0 0 0;
	padding: 10 10 10 10;
	text-align: center;
}

.phoneinput {
	padding: 10 10 10 10;
	width: 80%;
	font-size: larger;
}

.submitbutton {
	padding: 10 10 10 10;
	width: 50%;
	margin: 10 0 -10 0;
	height: 60px;
	font-size: larger;
	background-color: #8BC643;
	color: white;
	moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	 border: 1px solid white;

}

.resendbutton {
	padding: 10 10 10 10;
	width: 60%;
	margin: 10 10 0 10;
	height: 60px;
	font-size: larger;
	background-color: #8BC643;
	color: white;
	moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	 border: 1px solid white;
}

.img {
    width: auto;
    height: auto;
    
}